<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0.30319" />
  </startup>
  <runtime>
    <appDomainManagerType value="Crosswalk.DefaultAppDomainManager" />
    <appDomainManagerAssembly value="Crosswalk, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1d158f176b94c52c" />

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Crosswalk" publicKeyToken="1d158f176b94c52c" culture="neutral"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="1.0.0.0" />
        <codeBase version="1.0.0.0" href="file://D:\Experiments\OwinRelated\Crosswalk\Crosswalk\bin\Debug\Crosswalk.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
